body {
    background: #ee9ca7; 
    background: -webkit-linear-gradient(to right, #ee9ca7, #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ee9ca7, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title {
    text-align: center;
    margin: 0px auto;
    font-family: sans-serif;
    font-size: 50px;
    width: 500px;
    margin-top: 100px;
}

#container {
    float: right;
    margin: auto;
    display: grid;
    height: 500px;
    width: 500px;
    margin-right: 703px;
    margin-top: 50px;
    
 
    
}

.gridDiv {
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

#options {
    float: left;
    margin-left: 450px;
    margin-top: 170px;
}
.button {
    background-color: transparent;
    padding: 1em 6em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    transition: all 0.15s;
    border-radius: 2px;
    border: 0.1em solid black;
    justify-self: center;
}
#clearButton:hover {
    border: 0.1em solid black;
    color:black;
    background-color:white;
}
#clearButton:active {
    border: 0.1em solid black;
    color:black;
    background-color:white;

}

.radioLabel {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 20px;
}